/* Personalizar fuentes */
@font-face {
    font-family: 'CircularSTD';
    src: url('../Tipografia/Circular/circular-std-medium-500.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../Tipografia/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito_Sans';
    src: url('../Tipografia/Nunito Sans/static/NunitoSans_10pt-Regular.ttf') format('truetype');
}

/* Clases de fuente */
.CircularSTD {
    font-family: 'CircularSTD', sans-serif;
}

.LatoWeb {
    font-family: 'LatoWeb', sans-serif;
}

.Nunito_Sans {
    font-family: 'Nunito_Sans', sans-serif;
}

/* Clases de esilos */
.negrita {
    font-weight: bold;
}

.light {
    color: #929292;
}


.mayuscula {
    text-transform: uppercase;
}

.invisible {
    color: transparent;
}

/* Clases de tamaño */
p{
    font-size: 20px;
}

.subtitulo {
    font-size: 14px;
}

.texto {
    font-size: 16px;
}

h3{
    font-size: 24px;
}

.productodescripcion{
    font-size: 13px;
}

.productocategoria{
    font-size: 15px;
    color: #15064d;
}

.productocategoriaproducto{
    font-size: 15px;
    color: #256389;
}

.totalcompra {
    font-size: 20px;
}

.productonombre{
    font-size: 21px;
}

.footer{
    font-size: 13px;
}

/* Clases de separación */
.separacionborrar {
    padding-left: 70px;
    overflow: visible;
}

.separacionprincipal{
    margin-top: 40px;
}

.separacionsecundaria{
    margin-top: 20px;
}

.separacionfooter{
    margin-top: 140px;
}

.separacioncarrito{
    margin-top: 15px;
}

/* Classes de imagenes */
.logo{
    background-image: url('../Imagenes/LogoCaixa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70px;
    width: 70px;
}

.imagencontenedor{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 280px;
}

.imagenbanner{
    width: 100%;
}

.imagenredes{
    width: 30px;
    height: 30px;
}

.imagencompra{
    width: 200px;
}

.imageneditareliminar {
    width: 20px;
    height: 20px;
}

.estrella {
    width: 50px;
    height: 50px;
}

.rating {
    display: flex;
}
  
.rating input {
    display: none;
}
  
.rating label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('../Imagenes/Iconos/estrella.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.rating input:checked~label {
    background-image: url('../Imagenes/Iconos/estrellarellena.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Clases colores */
.editareliminar{
    color: #E61C23;
}

.fondocarrito {
    background-color: #497FF8;
    color: #FFFFFF;
}

.nodecoracion {
    color: inherit;
    text-decoration: none;
}

.carrito{
    width: 30px;
}

/* Classes botones */
.botonproducto {
    border: 1px solid #15064d;
    color: #15064d;
    padding: 10px 20px;
    background-color: white;
    width: 130px;
    height: 42px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 12px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonproducto:active {
    background-color: #15064d;
    color: white;
}

.botonproductoproducto {
    border: 1px solid #256389;
    color: #256389;
    padding: 10px 20px;
    background-color: white;
    width: 130px;
    height: 42px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 12px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonproductoproducto:active {
    background-color: #256389;
    color: white;
}

.botoncomprar {
    border: 1px solid #15064d;
    color: white;
    padding: 10px 20px;
    background-color: #15064d;
    width: 369px;
    height: 42px;
    border-radius: 600px;
    text-decoration: none;
    font-size: 13px;
    padding: 0px;

}

.botonproductovolver {
    border: 1px solid #15064d;
    color: #15064d;
    padding: 10px 20px;
    background-color: white;
    width: 369px;
    height: 42px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 13px;
    padding: 0px;
    cursor: pointer;
}

.botonproductovolver:hover {
    background-color: #15064d;
    color: white;
}

.botoncompra {
    background-color: transparent;
    border: 0;
}

.btn-outline-success {
    color: #15064d;
    background-color: white;
    border: 1px solid #15064d;
    cursor: pointer;
}

.btn-outline-success:hover {
    background-color: #15064d;
    color: white;
}



/* Classes formularios */
.inputlogin {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contenedorlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

footer{
    background-color: #eeeeee;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}

/* .producto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */